{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    {% if isSuccess != true %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        <p>Thanks for your message!</p>
    {% endif %}
{% endblock %}
